.dashbody{
    display: flex;
    background-color: white;
    height: 100vh;
    overflow: scroll;
}
.sidebar{
       
        display: flex;
        background: goldenrod;
        height: 100%;
        width:20%;
        flex-direction: column;
        padding-left: 5px;
        padding: 20px;
       
}


.dashpage , .proren{
    
        background-color: white;
        height: 100%;
        width: 100%;
}
.sidebar  span{
        font-size: 3ex;
        font-weight: bold;
        color: aliceblue;
        margin: 10px;
        margin-left: 10px;
        padding: 10px;
        border-bottom: white  solid 3px;
}
.sidebar span:hover{
        color:#D24D4D;
        border-bottom: 3px solid;
}
 .sidebar label{
        cursor: pointer;
        display: contents;
}
.boxcon{
        display: flex;
        justify-content: space-between;
        margin: 10px;
        background-color: rgb(217, 217, 217);
        border-radius: 5px;
        padding: 5px;
        box-shadow:2px 3px 12px 0px black ;
}
.boxcon p{
        font-weight: bold;
        color: #D24D4D;
}
.boxcon span{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(3, 155, 5);
        
}
.boxcon button{
        background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
            margin: 10px;
            margin-left: 25px;
            padding: 10px 35px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px rgb(61, 61, 61);
            border-radius: 10px;
            border: none;
            display: block;
}

.boxcon button:hover{
        background-position: right center; 
        color: #fff;
        text-decoration: none;
}

.errmsg{
        color: #D24D4D;
        font-weight: bolder;
        font-size: 2vw;
        padding-top: 25%;
        display: flex;
        justify-content: center;
}
